nav {
    border-bottom: 3px solid darkcyan;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}


.navlinks {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

a {
    padding: 5px;
    text-decoration: none;
}

.navlinks a {
    border: 1px solid darkturquoise;
    color: darkturquoise;
}
.navlinks a:hover {
    color: aliceblue;
    background: darkturquoise;

} 